<div class="archive-list" >
        
    
    
    <!-- Title -->
        <p class="blog-post-title-archive">
            <a href="<%- config.root %><%- item.path %>">
                <%- item.title || item.link%>
            </a>
        </p>
        <!-- Date and Author -->
        <span class="right-align" >
        <p class="blog-post-meta ">
            <%= item.date.format(config.date_format) %>
            <% if(item.author) { %>
                by <%- item.author %>
            <% } %>
        </p></span>

    </div>