<div class="grid-card-container">
    <div class="cardtitle">
        <h5><a href="<%- config.root %><%- item.path %>">
            <%- item.title || item.link%>
        </a></h5>
        <p> <%= item.date.format(config.date_format) %>
            <% if(item.author) { %>
                von <%- item.author %>
            <% } %>
        </p>
    </div>
    <div class="articlecontent">
        <p><%- item.content %></p>

        <% item.fruits.forEach(function(fruit) { %>
            <h5><%- fruit %></h5>
        <% }) %>    
        <div class="recent">
            <% item.gallery.forEach(function(pic) {%>
                
                <img class="materialboxed" width="350" src='<%- config.upload %><%- pic %>'>

            <% })%>        
        </div>

    </div>
    <div class="tag-post">
        <p><%- partial('article-tags', {item: item}) %></p>
    </div>
    <div class="cat-post">
        <p><%- partial('article-categories', {item: item}) %></p>
    </div>  

</div>