<!--
<%
    var title = '';
    if (page.category) title = page.category;
    if (page.tag) title = page.tag;
    if (page.archive){
        if (page.year) title = page.year + (page.month ? '/' + page.month : '');
        else title = "Archives";
    }
%>
<% if(title) { %>
   <h2 class="blog-archive-title"><%- title %></h2>
<% } %>

<% page.posts.each(function(item){ %>
    <%- partial('_partial/article-archive', {item: item}) %>
    <% }); %>
    <%- partial('_partial/pagination') %>

-->
<h1>Archive</h1>

<% page.posts.each(function(item){ %>
    <!--<%- partial('_partial/article-archive', {item: item}) %> 

    <div class="blog-post">
            <!-- Title -->
            <h2 class="blog-post-title-archive">
                <a href="<%- config.root %><%- item.path %>">
                    <%- item.title || item.link%>
                </a>
            </h2>
            <!-- Date and Author -->
            <p class="blog-post-meta">
                <%= item.date.format(config.date_format) %>
                <% if(item.author) { %>
                    by <%- item.author %>
                <% } %>
            </p>
    </div>


    <% }); %> -->


    <%- partial('_partial/pagination') %>

 
